.arrow-n {cursor: url(gfx/cursor/arrow-n.png) 24 13, n-resize;}
.arrow-s {cursor: url(gfx/cursor/arrow-s.png) 24 26, s-resize;}
.arrow-e {cursor: url(gfx/cursor/arrow-e.png) 45 20, e-resize;}
.arrow-w {cursor: url(gfx/cursor/arrow-w.png) 3 20, w-resize;}
.arrow-u {cursor: url(gfx/cursor/arrow-u.png) 20 3, n-resize;}
.arrow-d {cursor: url(gfx/cursor/arrow-d.png) 20 45, s-resize;}
