.arrow-n {cursor: url(gfx/cursor/arrow-n.png) 24 13, n-resize;}
.arrow-s {cursor: url(gfx/cursor/arrow-s.png) 24 26, s-resize;}
.arrow-e {cursor: url(gfx/cursor/arrow-e.png) 45 20, e-resize;}
.arrow-w {cursor: url(gfx/cursor/arrow-w.png) 3 20, w-resize;}
.arrow-u {cursor: url(gfx/cursor/arrow-u.png) 20 3, n-resize;}
.arrow-d {cursor: url(gfx/cursor/arrow-d.png) 20 45, s-resize;}
.action-examine {cursor: zoom-in;}

#main {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
}
#room * {
	user-select: none;
	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
}

#game {
	position: relative;
}
#overlay {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}
#overlay text {
	fill: #fff;
	text-shadow: #000 0px 0px 4px, #000 0px 0px 4px, #000 3px 0px 1px, #000 -3px 0px 1px, #000 0px 2px 0px, #000 0px -2px 0px;
	font-size: 2em;
	font-family: 'Times New Roman', serif;
}


#room img {
	display: block;
}


* {
	box-sizing: border-box;
}
body {
	background: #000;
}



/*Editor*/





#editor-roomlist {
	order: -1;
	flex-grow: 1;
}
#roomlist-panel {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	padding-left: 0px;
}
#roomlist-panel li {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}
#roomlist-panel li img {
	width: 100%;
	max-width: 120px;
}
#roomlist-panel li span {
	margin: 0.5em;
	padding: 0em 0.5em;
	background: #0ff;
	color: #000;
}
#roomlist-panel li:hover span {
	background: #f0f;
}
#editor-properties {
	flex-grow: 1;
}
#editor-properties input {
	background: #000;
	border: 0.25em solid #fff;
	color: #fff;
	font-family: monospace;
	font-size: large;
}
#editor-properties button {
	border: none;
	background: black;
	color: #fff;
	font-family: monospace;
	font-size: large;
	padding: 0em 1em;
	color: #0ff;
}
#editor-properties button:hover{
	color: #f0f;
}



[id^=editor] {
	border: 0.5em solid #fff;
	padding: 0em 1em;
	margin: 1em;
	color: #fff;
	/*font-family: 'Press Start 2P', monospace;*/
	font-family: monospace;
	font-size: large;
}



.editor-hotspot {
	fill: rgba(0, 255, 255, 0.5);
	stroke: #fff;
	stroke-width: 2px;
	stroke-dasharray: 6 4;
	mix-blend-mode: overlay;
}
.editor-hotspot-handle {
	fill: #fff;
	stroke: #000;
	stroke-width: 1px;
	cursor: grab;
}
.editor-hotspot-handle+.grabbed {
	cursor: grabbing;
}

#overlay_svg_hotspot_editor {
	pointer-events: visibleFill;
}



.editor-arrow-n {
	/*TODO: https://stackoverflow.com/questions/13914868/using-css-approach-how-to-set-an-image-to-fill-a-path-in-svg*/
	/*Complicated. Later.*/
}


















/*  */
